
services:
    # --------------------------
    # MongoDB
    # --------------------------
    db:
        image: mongo:7.0
        container_name: mablog_mongodb
        restart: always
        volumes:
            - ./mongo_data:/data/db
            - ./backup:/tmp/backup
        environment:
            MONGO_INITDB_ROOT_USERNAME: mongoAdmin
            MONGO_INITDB_ROOT_PASSWORD: mongoA96547852!
            MONGO_INITDB_DATABASE: maBlog_DataTable
        networks:
            - mablog_network

    # --------------------------
    # Next.js
    # --------------------------
    mablog_nextjs:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: mablog_nextjs
        restart: always
        expose:
            - "8080"
        env_file:
            - ./.env.production
        environment:
            - HOST=0.0.0.0
            - PORT=8080
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /opt/ma_blog/read_os:/opt/ma_blog/read_os
        depends_on:
            - db
        networks:
            - mablog_network

    # --------------------------
    # Nginx Reverse Proxy
    # --------------------------
    mablog_proxy:
        image: nginx:stable-alpine
        container_name: mablog_proxy
        restart: always
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./certbot/www:/var/www/certbot
            - ./certbot/conf:/etc/letsencrypt
        depends_on:
            - mablog_nextjs
        networks:
            - mablog_network

    # --------------------------
    # Certbot (자동 갱신 전용)
    # --------------------------
    certbot:
        image: certbot/certbot
        container_name: certbot
        restart: unless-stopped
        volumes:
            - ./certbot/www:/var/www/certbot
            - ./certbot/conf:/etc/letsencrypt
        entrypoint: >
            sh -c "trap exit TERM;
            while :; do
              certbot renew
                --webroot -w /var/www/certbot
                --non-interactive
                --quiet;
              sleep 12h;
            done"
        networks:
            - mablog_network

networks:
    mablog_network:
        driver: bridge
