services:
    # --------------------------
    # MongoDB
    # --------------------------
    db:
        image: mongo:7.0
        container_name: mablog_mongodb
        restart: always
        volumes:
            - ./mongo_data:/data/db
            - ./backup:/tmp/backup
        environment:
            MONGO_INITDB_ROOT_USERNAME: mongoAdmin
            MONGO_INITDB_ROOT_PASSWORD: mongoA96547852!
            MONGO_INITDB_DATABASE: maBlog_DataTable
        networks:
            - mablog_network

    # --------------------------
    # Next.js 앱
    # --------------------------
    mablog_nextjs:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: mablog_nextjs
        restart: always
        expose:
            - '8080' # 내부 연결용
        env_file:
            - ./.env.production
        depends_on:
            - db
        networks:
            - mablog_network

    # --------------------------
    # Nginx 프록시
    # --------------------------
    mablog_proxy:
        image: nginx:stable-alpine
        container_name: mablog_proxy
        restart: always
        ports:
            - '80:80' # HTTP
            - '443:443' # HTTPS
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./certbot/www:/var/www/certbot
            - ./certbot/conf:/etc/letsencrypt
        depends_on:
            - mablog_nextjs
        networks:
            - mablog_network

    # --------------------------
    # Certbot 인증서 발급
    # --------------------------
    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
            - ./certbot/www:/var/www/certbot
            - ./certbot/conf:/etc/letsencrypt
        entrypoint: ''
        command: >
            certbot certonly
            --webroot
            --webroot-path=/var/www/certbot
            --email kai@mocha-company.com
            --agree-tos
            --no-eff-email
            -d madayblog.com
            -d www.madayblog.com
        networks:
            - mablog_network

networks:
    mablog_network:
        driver: bridge
