.crt-container {
    color: #00ff66;
    font-family: "Courier New", monospace;
    font-size: 14px;
    padding: 10px 14px;
}

.crt-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.crt-json {
    white-space: pre-wrap;
    line-height: 1.2;
    font-size: 14px;
}

.crt-bar {
    font-family: "Consolas", "Courier New", monospace;
    font-size: 12px;
    height: 14px; 
    line-height: 14px;
    margin-top: 10px;
}

.crt-label {
    margin-right: 6px;
    width: 25px;
    height: unset;
    display: inline-block;
}

.crt-bar,
.crt-label {
    line-height: 14px;
}
.crt-bar-inner {
    color: #0f0;
    font-size: 8px;
    line-height: 14px; 
}
