.pageButton {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 10%;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
    color: #555;
    transition: all 0.2s ease;
}

.pageButton:hover {
    background-color: #f7931e;
    color: #fff;
    border-color: #f7931e;
}

.pageButton.active {
    background-color: #f7931e;
    color: #fff;
    border-color: #f7931e;
    pointer-events: none; /* 현재 페이지는 클릭 불가 */
}